[book]
authors = ["Connor Horman"]
language = "en"
multilingual = false
src = "src"
title = "Fiction Template"

[preprocessor.links]

[preprocessor.add-copyright]
exclude = ["COPYRIGHT.md"]

[preprocessor.rfc-summaries]
command = "cargo run --manifest-path mdbook-rfc-summaries/Cargo.toml --"
before = ["links", "add-copyright"]

[output.markdown]

[output.html]

[build]
extra-watch-dirs = ["mdbook-rfc-summaries/src"]
